BLOG_ADMIN_PASSWORD=choose-a-long-unique-password
BLOG_SESSION_SECRET=generate-with-openssl-rand-hex-32
BLOG_GITHUB_TOKEN=replace-with-your-fine-grained-token
BLOG_GITHUB_REPOSITORY=wyattroberts/mississippiappraiser-site
BLOG_GITHUB_BRANCH=main
